<!-- CREAR MACRO -->
{% macro funcion_mostrar_h(value) %}
    <h1>{{ value }}</h1>
    <h2>{{ value }}</h2>
    <h3>{{ value }}</h3>
    <h4>{{ value }}</h4>
    <h5>{{ value }}</h5>


{% endmacro %}

<!-- FUNCION FORMULARIO -->
{% macro enviar_campos(field) %}
   <td> {{ field.label}}
    <dd>{{ field(**kwargs)| safe  }}

    <!-- MACRO PARA LOS ERRORES -->
    {% if field.errors %}
        <ul>
            {%for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endmacro %}